body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

nav {
    background: #2c7be5;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
}

h3 {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.form {
    margin-top: 10px;
}
